/*  style CSS from fazer-curriculo */



body {
	background-color: #ffffff;
}

body * {
	font-family: arial;
	color: #000000;
	margin: 0;
	padding: 0;
}

/*
.layerImage {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #e6e6ff , #ffffff);
  z-index: -2;
}
*/

p {
	margin-bottom: 0;
	margin-top: 1em;
	text-align: justify;
}

h1 {
	font-size: 2em;
	text-align: center;
}

#descricao {
	font-style: italic;
}

h4 {
	font-size: 1.5em;
	margin-top: 1em;
}

input, textarea {
	background-color: #ECECDA;
	border-radius: 5px;
	border-style: #ffffff 3px solid;
	color: #000000;
	width: 100%;
	font-weight: 400;
}

input[type=date] {
	width: auto;
}

button {
	margin-top: 1em;
	margin-bottom: 1em;
	border-style: none;
	border-bottom-style: groove;
	font-weight: bold;
	width: 100%;
	border-radius: 25px;
	padding: 0.4em;
}

button i {
	margin-right: 0.5em;
}

#emprAtual {
	width: 1.5em;
}

#myTitle {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}

#field {
	background-color: transparent;
	border: 0;
	/*border: #ffffff 3px solid;*/
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5em;
}

.btn-red {
	background-color: #090BB6;
	/*font-weight: bold;
	border-radius: 5px;
	padding: 0.3em;
	text-shadow: 0 2px 2px rgba(0,0,0,.5);*/
}

.btn-red:hover {
	background-color: #3c3ff6;
}

.btn-green {
	background-color: #00b300;
}

.btn-green:hover {
	background-color: #33ff33;
}


/*********** resume configurations ***********/

#resume * {
	color: #000000;
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 14px;
	text-align: left;
	font-family: helvetica;
}

/*********** escondendo a div resume ***********/
#resume {
	display: none;
}

/*********** configurando os elementos do resume ***********/
#resume h2 {
	font-size: 1.4em;
	font-weight: bold;
}

#resume h3 {
	font-size: 1.25em;
	margin-top: 2em;
	width: 100%;
	font-weight: bold;
}

#resume p {
	width: 100%;
}


#cargoEmpr1, #cargoEmpr2 {
	margin-bottom: 1em;
}




/*********** dispositivos grandes ***********/
@media (min-width: 1201px){

}

/*********** dispositivos médios ***********/
@media (min-width: 768.01px) and (max-width: 1200px) {

	#myTitle, #field {
		width: 60%;
	}

	
}

/*********** dispositivos pequenos ***********/
@media (min-width: 576.01px) and (max-width: 768px) {


	#myTitle, #field {
		width: 75%;
	}
}

/*********** dispositivos extra pequenos ***********/
@media (max-width: 576px) {


	#myTitle, #field {
		width: 97%;
	}
}
